doctype html
html
  head
     title Pomodoro
     meta(charset='utf-8')
     meta(name="viewport", content="width=device-width, initial-scale=1")
     link(rel="stylesheet", type="text/css", media="screen" href="http://openfontlibrary.org/face/glacial-indifference")
     link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato')
     link(rel="stylesheet", type="text/css", href="style.css")
     script(src="script.js")
body
  #timer 25:00
  audio(id="beep")
    source(src="http://free-sounds.net/sound-files/special-effects/BOING_.WAV")
