doctype html
html
  head
     title Pomodoro
     meta(charset='utf-8')
     meta(name="viewport", content="width=device-width, initial-scale=1")
     link(rel="stylesheet", type="text/css", media="screen", href="http://openfontlibrary.org/face/fantasque-sans-mono")
     link(rel="stylesheet", type="text/css", href="style.css")
     script(src="script.js")
body
  #timer
    #tomato Work
    #time.big-text 24:00
    #statusIcon ▶
  #buttons
    .timeControl
      .breakTime -
      #breakTime 6
      .breakTime +
    #reset ↺
    .timeControl
      .workTime -
      #workTime 24
      .workTime +
  audio(id="alarm", src="http://free-sounds.net/sound-files/special-effects/BOING_.WAV")
