*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
     height: 100%;
}

body {
    background-color: #222;
     justify-content: center;
      flex-direction: column;
         align-items: center;
         font-family: 'FantasqueSansMonoRegular', sans-serif;
           font-size: 2rem;
             display: flex;
              margin: 0;
              height: 100%;
               color: #eee;
}

div {
  cursor: pointer;
}

#timer {
  justify-content: space-around;
   flex-direction: column;
    border-radius: 50%;
      align-items: center;
          display: flex;
           border: .2rem solid #eee;
           /* cursor: pointer; */
           height: 20rem;
            width: 20rem;
}  

.big-text {
  font-size: 5rem;
}

#buttons {
  justify-content: center;
          display: flex;
           margin: 1rem;
            width: 20rem;
}

#buttons > * {
  justify-content: center;
       flex-basis: 0;
        flex-grow: 1;
          display: flex;
}

.timeControl {
  display: flex;
}

.timeControl > * {
  padding: 0 .1rem;
}

::-moz-selection {
  background-color: inherit;
             color: inherit;
}

::selection {
  background-color: inherit;
             color: inherit;
}
